* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, "microsoft yahei",
    arial, STHeiTi, sans-serif;
}

a {
  text-decoration: none;
}

.form-box {
  width: 600px;
}
.pagination {
  margin: 20px 0;
  text-align: right;
}
.handle-input {
  width: 300px;
  display: inline-block;
}

.handle-select {
  width: 120px;
}

.mr10 {
  margin-right: 10px;
}

.ml10 {
  margin-left: 10px;
}
.danger {
  color: #f56c6c;
  &:hover,
  &:focus {
    color: #f59c6c;
  }
}
